<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JunimoApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- User-side activities -->
        <activity android:name=".UserHomeActivity" />
        <activity android:name=".InvitationsActivity" />
        <activity android:name=".ProfileActivity" />

        <!-- Organizer activities -->
        <activity android:name=".Organizer.OrganizerStartScreen" />
        <activity android:name=".Organizer.CreateEvent" />
        <activity android:name=".Organizer.EventPreview" />
        <activity android:name=".Organizer.Entrants" />
        <activity android:name=".Organizer.SelectAnEvent" />

        <!--Admin activities -->
        <activity android:name=".admin.AdminHomeActivity" />
        <activity android:name=".admin.AdminBrowseEventsActivity" />
        <activity android:name=".admin.AdminBrowseProfilesActivity" />
        <activity android:name=".admin.AdminBrowseImagesActivity" />

    </application>

</manifest>
